<div data-ng-include="'templates/navbar.html'"></div>

<header ng-if="!isLogged">
    <h1 class="center">
            Welcome to the Social Network
        </h1>
    <div class="row home-buttons-container">
        <div class="center col-lg-16">
            <a href="#">
                <a href="#/Login">
                    <button type="button" class="btn btn-lg btn-success">Login</button>
                </a>
            </a>
            <span>/</span>
            <a href="#">
                <a href="#/Register">
                    <button type="button" class="btn btn-lg btn-danger"> Register</button>
                </a>
            </a>
        </div>
    </div>
</header>

<div data-ng-include="'templates/newsFeed.html'" ng-if="isLogged"></div>