
<div ng-include="'templates/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#/Login"  id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#/Register" class="active" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="register-form" name="registerForm" data-ng-controller="AuthenticationController" data-ng-submit="register()">
                                <div class="form-group">
                                    <input type="text" data-ng-model="username" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" data-ng-model="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" data-ng-model="confirmPassword" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" compare-to="password" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" data-ng-model="name" name="name" id="name" tabindex="3" class="form-control" placeholder="Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" data-ng-model="email" ame="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" required>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Gender</label>
                                    <div class="col-lg-7">
                                        <label class="radio-inline" for="male">Male</label>
                                        <input data-ng-model="gender" id="male" type="radio" name="gender" value="Male" required>

                                        <label class="radio-inline" for="female">Female</label>
                                        <input data-ng-model="gender" type="radio" id="female" name="gender" value="Female" required>

                                        <label class="radio-inline" for="other">Other</label>
                                        <input data-ng-model="gender" type="radio" id="other" name="gender" value="Other" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now" data-ng-disabled="registerForm.$invalid">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
